/* Media Query for screens larger than 640px */
@media screen and (min-width: 640px) {
    header h1 {
        font-size: 2.5rem;
    }

    nav ul {
        gap: 20px;
    }

    /* Adjust Grid for larger screens to show 3 or 4 columns */
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Adjust List for larger screens to show more data in one line */
    .list section {
        grid-template-columns: 2fr 2fr 1fr 1fr;
        padding: 1rem;
    }
}
