/* Base css for styling common elements */
.site-name{
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.filters{
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {text-decoration: none; }
a:hover { text-decoration: underline; }
